*{
	box-sizing: content-box;
	margin: 0;
}

body{
	position: absolute;
	background-size: cover;
	width: 100%;
	background:rgb(237,238,240);
    background-attachment: fixed;
    background-size: 120%;
	margin: 0 auto;
	align-content: center;
	font-family: "Comic Sans MS"; 
}

.wrapper{
	border-top: 5px solid rgb(125,3,95);
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	background: rgb(247,247,245);
	position: relative;
	min-height: 100%;
}

header{
	max-height: 210px;
	text-align: center;
	border-bottom: black 1px solid;
	padding-top: 30px;
	padding-bottom: 10px;
}

img{
	width: 40%;
}

.header_up{
	text-align: center;
	margin: 0;
	width: 100%;
	max-height: 170px;
	/*background-image: url(pic/oblozhka.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: absolute;*/
}

menu{
	margin-top: 20px;
	max-height: 75px;
	text-decoration: none;
	text-align: center;
	font-size: 0.9em;
}

a{
	margin: 10px;
	color: black;
	text-decoration: none;
	font-weight: ;
}

a:hover{
	color: darkgrey;
	text-decoration: none;
	font-weight: ;
}

a.underline{
	display: block;
	text-decoration: underline;
	font-size: 0.9em;

}

.container1{
	min-height: 600px;
	background-color: rgb(14,6,20);
}

article{
	font-family: constantia;
	padding-top: 90px;
	padding-bottom: 50px;
	text-align: center;
	color: rgb(239,241,242);
	line-height: 1.8em;
	
}

h1{
	font-family: PUMP DEMI BOLD LET;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 4em;
}

h2{
	font-family: PUMP DEMI BOLD LET;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 2em;
}

h3{
	font-size: 1.5em;
}

h5{
	font-size: 1.1em;
	margin-bottom: 10xp;
	margin-top: 10px;
}

p{
	font-size: 1.05em;
	margin-top: 10px;
	line-height: 1.7em;
}

.mainP{
	font-size: 1em;
}

footer{
	margin: 0 auto;
	max-width: 1100px;
	color: rgb(50,50,50);
	background-color: rgb(247,247,245);
	height: 60px;
	text-align: center;
	font-size:1em;
	font-family: Time New Romans;
	font-weight: normal;
	line-height: 1.3em;
	vertical-align: center;
	padding-top: 40px;
	border-bottom: 5px solid rgb(125,3,95);
}

.mainPageP{
	width: 80%;
	margin:0 auto;
}

#micro{
	font-size: 0.7em;
	text-align: right;
}
.admins{
	margin-top: 45px;
	width: 100%;
	min-height: 900px;
}

.col1, .col2, .col3{
	display: inline-block;
	background-color: rgb(247,247,245);
	width: 31%;
	min-height: 600px;
	float: left;
	margin-left: 19px;
	border-radius: 15px;
}

.upimage1, .upimage2, .upimage3{
	background-size: cover;
	width: 100%;
	height: 400px;
	padding: 0px;
	border-radius: 15px 15px 0px 0px;
}

.upimage1{
	background: url(pic/gixal.jpg) no-repeat center;
	margin: 0 auto;
	align-content: center;
	background-size: 140%;
}

.upimage2{
	background: url(pic/ancap1488.jpg) no-repeat center;
	margin: 0 auto;
	align-content: center;
	background-size: 182%;
}

.upimage3{
	background: url(pic/communist.jpg) no-repeat center;
	margin: 0 auto;
	align-content: center;
	background-size: 140%;
}

.admintext{
	font-family:Time New Romans ;
	margin-bottom: 10px;
	margin-top:20px;
	padding: 2px;
	color: black;
	min-height: 450px;
}

.nameAdmin{
	font-weight: bold;
	font-size: 1.6em;
	font-style: normal;
}

.role{
	display: block;
	margin-top: 20px;
	font-size: 1em;
}

.titles{
	font-weight: bold;
	text-align: left;
	margin-top: 5px; 
}

.headertitles{
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

#constitut{
	margin-top: 0px;
	margin-bottom: 70px;
	font-size: 2em;
}

#constitut_img{
	margin: 0 auto;
	margin-bottom: 40px;
	height: 400px;
	width: 400px;
	background: url(pic/flag.jpg) black center no-repeat;
	background-size: 100%;
	border: 1px black;
	border-radius: 250px;
}

.rules{
	margin-top: 30px;
	background-color: rgb(247,247,245);
	margin: 0 auto;
	width: 100%;
	min-height: 400px;
	text-align: center;
	font-family:Time New Romans;
}

.block1, .block2, .block3, .block4{
	width: 85%;
	min-height: 200px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 15px;
}

.article1{
	background-color: rgb(247,247,245);
}

.rule_block_img{
	background: url(pic/ruleicon.jpg) white center no-repeat;
	width: 80px;
	height: 80px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 15px; 
	background-size: 100%;
}

.ligher_h{
	font-weight: lighter;
	font-size: 1.6em;
}

@media only screen and (max-device-width: 480px) {
	

	h1{
		font-size: 2.5em;
		line-height: 40px;
	}

	#constitut_img{
		height: 21em;
    	width: 21em;
    	margin-bottom: 10px;
	}

	.admins{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.col1, .col2, .col3{
		width: 96%;
		margin: 0px 2% 10px 2%;
	}

	img{
	width: 80%;
}
}

